@themeDark: #3A4856;
@themeGrey: #9EADBD;
@themeWhite: #F0F4F8;
@themeBlue: #3CACF2;
@themeRed: #FF7483;
@themeGreen: #40C9B7;

#login {
    .handle-input .ivu-input {
        letter-spacing: 0.055rem !important;
    }
}

.navigator {
    cursor: pointer;
    .subTitle-font
}

.ivu-input:hover,
.ivu-input:focus {
    border-color: @themeBlue ;
}

.input-error {

    .ivu-input:hover,
    .ivu-input:focus {
        border-color: @themeRed ;
        outline: @themeRed solid 0px;
        box-shadow: 0 0 0 2px rgba(255, 116, 131, 0.2)
    }
}

.input-verified {

    .ivu-input:hover,
    .ivu-input:focus {
        border-color: @themeGreen ;
        outline: @themeGreen solid 0px;
        box-shadow: 0 0 0 2px rgba(64, 201, 183, 0.2)
    }
}

.ivu-input {
    height: 38px;
}

.ivu-btn-primary {
    background-color: @themeBlue;
    border-color: @themeBlue;
    height: 38px;
    margin: 0.25rem 0;

    &:hover,
    &:focus {
        background-color: #61C2FF;
        border-color: #61C2FF;
    }
}

.ivu-btn-success {
    background-color: @themeGreen;
    border-color: @themeGreen;
    height: 38px;
    margin: 0.25rem 0;

    &:hover,
    &:focus {
        background-color: #44EBD5;
        border-color: #44EBD5;
    }
}


.cancel-btn {
    background-color: white;
    border-color: @themeWhite;
    color: @themeDark;
    transition: all 0.4 ease-in-out;

    &:hover {
        background-color: @themeGreen;
        border-color: @themeGreen;
        color: white;
    }
}

.ivu-btn-large {
    height: 48px;
}

.ivu-btn-primary {
    transition: all 0.4 ease-in-out;
}

.msg-btn-actived {

    .ivu-btn-primary {
        min-width: 5.3rem;
        border: none;
        box-shadow: 2.5px 2.5px 8px 1px #2270a0 inset;
        cursor: wait;
    }



    &:focus {
        box-shadow: 2.5px 2.5px 8px 1px #2270a0 inset;
        box-shadow: none !important;
        outline: none;
    }
}


@import url('./view/home.less');
@import url('./view/login.less');
@import url('./view/apply.less');